*{
    font-family: segoe UI;
}
hr{
    color: rgba(228, 220, 220, 0.534);
}
h1{
    color: rgb(63, 93, 94);
}
.header{
    display: flex;
    margin-left: 50px;
}
nav{
    display: flex;
}
.buttons{
    margin-left: 800px;
    margin-top: 30px;
    padding-left: 20px;
}
.login-button{
    height: 40px;
    width: 100px;
    justify-content: space-between;
    background-color: white;
    border: none;
}
.signup-button{
    height: 40px;
    width: 100px;
    justify-content: space-between;
    background-color: rgb(245, 90, 0);
    color: white;
    border: none;
}
.login-button:hover{
    background-color: rgb(245, 90, 0);
}
.signup-button:hover{
    text-decoration: underline;
}
.hero-section{
    text-align: center;
    margin-top: 100px;
}
.startbutton{
    height: 40px;
    width: 150px;
    justify-content: space-between;
    background-color: rgb(245, 90, 0);
    color: white;
    border: none;
}
.startbutton:hover{
    text-decoration: underline;
}
.heroline{
    margin-top: 100px;
    color: rgba(228, 220, 220, 0.534);
}
.footer{
    display: flex;
    padding-left: 100px;
    margin-left: 230px;
}
.target{
    display: flex;
    flex-direction: column;
    padding-right: 180px;
}
.time{
    display: flex;
    flex-direction: column;
    padding-right: 180px;
}
.level{
    display: flex;
    flex-direction: column;
}
.footer-content{
    margin-top: 0;
}
